<%- include('./partials/header') %>
    <img src="https://image.tmdb.org/t/p/w500/<%= Details.backdrop_path %>" alt="">
    <article class="favouriteButton">
        <a href="/favuriteDetails/<%= Details._id %>/delete""><img src=" /minus.svg" alt=""></a>
        <h2>Remove from favourite
        </h2>
    </article>
    <article class="vote">
        <div class="average">
            <img src="/star.svg" alt="">
            <p>
                <%= Details.vote_average %><span>/10</span>
            </p>
            <p>
                <%= Details.popularity %>
            </p>
        </div>
    </article>
    <article class="title">
        <h3>
            <%= Details.title %>
        </h3>
    </article>
    <article class="release">
        <p>
            <%= Details.release_date %>
        </p>
        <p>
            <%= Details.status %>
        </p>
    </article>
    <article class="genres">
        <% Details.genres.forEach(element=> { %>
            <p>
                <%= element.name %>
            </p>
            <% }) %>
    </article>
    <article class="summary">
        <h3>Plot Summary</h3>
        <h5>
            <%= Details.overview %>
        </h5>
    </article>

    <%- include('./partials/footer') %>