<%- include('./partials/header') %>
    <img src="https://image.tmdb.org/t/p/w500/<%= mydata2.poster_path %>" alt="">
    <article class="favouriteButton">
        <img src="/plus.svg" alt="">
        <h2>Add to favourite</h2>
    </article>
    <article class="vote">
        <div class="average">
            <img src="/star.svg" alt="">
            <p>
                <%= mydata2.vote_average %><span>/10</span>
            </p>
            <p>
                <%= mydata2.popularity %>
            </p>
        </div>
    </article>
    <article class="title">
        <h3>
            <%= mydata2.title %>
        </h3>
    </article>
    <article class="release">
        <p>
            <%= mydata2.release_date %>
        </p>
        <p>
            <%= mydata2.status %>
        </p>
    </article>
    <article class="genres">
        <% mydata2.genres.forEach(element=> { %>
            <p>
                <%= element.name %>
            </p>
            <% }) %>
    </article>
    <article class="summary">
        <h3>Plot Summary</h3>
        <h5>
            <%= mydata2.overview %>
        </h5>
    </article>

    <%- include('./partials/footer') %>