<%- include('./partials/header') %>
    <article class="img-moviesdetails">
        <img src=" https://image.tmdb.org/t/p/w500/<%=mydata2.backdrop_path %>" alt="">
    </article>
    <article class="favouriteButton">
        <a href="/myFavuriteList/<%= mydata2.id %>"><img src="/plus.svg" alt=""></a>
        <h2>Add to favourite</h2>
    </article>
    <article class="vote">
        <div class="average">
            <img src="/star1.png" alt="">
            <p>
                <%= mydata2.vote_average %><span>/10</span>
            </p>
            <p>
                <%= mydata2.popularity %>
            </p>
        </div>
    </article>
    <article class="title">
        <h2>
            <%= mydata2.title %>
        </h2>
    </article>
    <article class="release">
        <p>
            <%= mydata2.release_date %>
        </p>
        <p>
            <%= mydata2.status %>
        </p>
    </article>
    <article class="genres">
        <% mydata2.genres.forEach(element=> { %>
            <p>
                <%= element.name %>
            </p>
            <% }) %>
    </article>
    <article class="summary">
        <h3>Plot Summary</h3>
        <p>
            <%= mydata2.overview %>
        </p>
    </article>

    <%- include('./partials/footer') %>