<%- include('./partials/header') %>
    <section class="article-home">
        <% FavItem.forEach(element=> { %>
            <article class="myshow">
                <img src="https://image.tmdb.org/t/p/w500<%= element.poster_path %> " alt="">
                <h5>
                    <%= element.title %>
                </h5>
                <p>
                    <%= element.overview %>
                </p>
                <a href="/favuriteDetails/<%= element._id %>">See More</a>
            </article>
            <% }) %>
    </section>
    <%- include('./partials/footer') %>